# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  matrix:
    
    - CONDA_PY=27
    - CONDA_PY=34
    - CONDA_PY=35
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "nF+bBMIhADHHb39V+8FY0unxdnNDr7HfJeFE6G8ii8NZZqCueEN/McobK9EjwxiHpn9zmKmB+ohMk43ODuRdBC2m9GSHpJI3QX3in/U14FujBZizlZnQ1YJrgdRrV+vEgcgMxKDzhr+Fd9mYPI4262/QXtrjS8/2d0W5XcSYx/CYcp8QZ71J3QVdWCYOGk7qBm4jaSqSoa8j0j+iIZECyiPYmbXawHKTaAshNaXWGt9Q6UfaesllKQXyTTxcyK/3uWRMc0nlNAzdMcc3F12FrHcTB4DckAyrqBUGlg6jUOXC+L2+i0hpz1Lcqym4iMxYM4zvNNUQnUILNPDiiKx3YoLpCVOn349/2s1qptav/Uly1DGvr70DfwKqCopmRtT+fTdi6/yJ3PVCRWvhIRlADvHhZXsZYltgOFXBcS4qQi85GnZRmLPcDUVjA/htYQxFKC1NxDjdeqJBO6th6wAud8ck1d21hX5DcDMw5oaP+3tC+fckH84bJkO0McyOf0li8J9T1iQ/tc9E1DqX8Itpo2rvG2T9Ybrkh+KJfG/IHAmqAhUWnfiM+aeNhdAH+W3D72x4g5TDt7W0i/33ukFySVioEHb4Km8gQufh2On7Onku9oMvQTwzX8uDULWIj5OaHk3GIOb3D+7VdlYKFIUytCKmVhgSm0MhhH/1LNUc6ZE="


before_install:
    - brew remove --force $(brew list)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH

      conda config --set show_channel_urls true
      conda update --yes conda
      conda install --yes conda-build jinja2 anaconda-client
      conda config --add channels conda-forge
      

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
